# include should specify at least user.email
[include]
  path = ~/.local_config/gitconfig

[user]
  name = Bob Gardner

[alias]
  stat = status
  co = checkout
  lol = log --pretty --oneline --decorate
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short

[merge]
  tool = vimdiff

[mergetool]
  prompt = false

[mergetool "vimdiff"]
  cmd = vimdiff -X

[diff]
  tool = vimdiff

[difftool]
  prompt = false

[core]
  excludesfile = ~/.gitexclude

[color]
  ui = true

[rerere]
  enabled = 1

[branch]
  autosetupmerge = always
  autosetuprebase = always
